.banner {
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  color: white;
  height: 200px;
  min-height: 100%;
  opacity: 0.8; }
  .banner h2 {
    font-size: 13px;
    width: 170px;
    padding-top: 20px; }
  .banner h3 {
    font-size: 9px;
    padding-bottom: 5px;
    margin-left: 10px; }

.page {
  background-image: url("https://www.fg-a.com/wallpapers/white-marble-1-2018.jpg"); }

.banner, .page {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.container {
  width: 320px;
  margin: 0 auto;
  padding: 25px; }
  .container .image1 {
    width: 250px;
    margin-top: -60px; }
  .container .image4, .container .image6 {
    width: 250px; }
  .container .image7 {
    width: 150px;
    margin-top: 30px; }

.info1 {
  display: flex;
  margin-top: 30px; }
  .info1 .image2 {
    flex: 0 0 120px;
    height: 120px; }
  .info1 .info1-content {
    flex: 0 0 200px;
    padding-left: 15px;
    padding-right: 30px; }
  .info1 h3 {
    font-size: 10px; }
  .info1 p {
    font-size: 6px;
    color: grey; }

.info2 {
  display: flex;
  margin-top: 15px; }
  .info2 .image3 {
    height: 200px;
    margin-left: 40px; }
  .info2 ul {
    padding: 0px;
    list-style-type: none; }
  .info2 ul li {
    color: grey; }
  .info2 ul li:hover {
    color: black; }
  .info2 ul li ul li {
    display: none;
    font-size: 7px; }
  .info2 ul li:hover ul li {
    display: block; }

.info3 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px; }
  .info3 .image5 {
    flex: 0 0 120px;
    height: 120px; }
  .info3 .info3-content {
    flex: 0 0 200px; }
  .info3 h3 {
    font-size: 10px; }

img {
  box-shadow: 3px 3px 6px #595659; }

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 7px;
  margin-left: 10px;
  margin-right: -20px; }
  .icon-grid .grid-box img {
    width: 30px;
    box-shadow: none; }
