.banner {
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  color: white;
  height: 200px;
  min-height: 100%;
  opacity: 0.8; }
  .banner h2 {
    font-size: 13px;
    width: 170px;
    padding-top: 40px; }

.page {
  background-image: url("https://media.gettyimages.com/vectors/abstract-grey-and-white-waves-vector-background-vector-id866867270?b=1&k=6&m=866867270&s=612x612&w=0&h=oQcAAOfoNp_TqlvzWE3bMXXxErctBjMVe576sZn10rs="); }

.banner, .page {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.container {
  width: 320px;
  margin: 0 auto; }
  .container .image1 {
    width: 250px;
    margin-top: -60px; }

.info1 {
  display: flex;
  margin-top: 30px; }
  .info1 .image2 {
    flex: 0 0 120px;
    height: 120px; }
  .info1 .info1-content {
    flex: 0 0 200px;
    padding-left: 15px; }
  .info1 h3 {
    font-size: 11px; }
  .info1 p {
    font-size: 7px; }
