.banner {
  background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  color: white;
  height: 200px;
  min-height: 100%;
  opacity: 0.8;

  h2 {
    font-size: 13px;
    width: 170px;
    padding-top: 20px;
  }
  h3 {
    font-size: 9px;
    padding-bottom: 5px;
    margin-left: 10px;
  }
}

.page {
  background-image: url('https://www.fg-a.com/wallpapers/white-marble-1-2018.jpg');
}

.banner, .page {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 10px;
  .image1 {
    width: 250px;
    margin-top: -60px;
  }
  .image4, .image6 {
    width: 275px;
    margin-top: 20px;
  }
  .image7 {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.info1 {
  display: flex;
  margin-top: 30px;
  .image2 {
    flex: 0 0 120px;
    height: 120px;
  }
  .info1-content {
    flex: 0 0 200px;
    padding-left: 15px;
    padding-right: 30px;
  }
  h3 {
    font-size: 10px;
  }
  p {
    font-size: 6px;
    color: grey;
  }
}

.info2 {
  display: flex;
  margin-top: 15px;
  .image3 {
    height: 200px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  ul {
    padding: 0px;
    list-style-type: none;
  }
  ul li {
    color: grey;
  }
  ul li:hover {
    color: black;
  }
  ul li ul li {
    display: none;
    font-size: 7px;
  }
  ul li:hover ul li {
    display: block;
  }
}

.info3 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  .image5 {
    flex: 0 0 120px;
    height: 120px;
    margin-left: -50px;
  }
  .info3-content {
    flex: 0 0 200px;
  }
  h3 {
    font-size: 10px;
    position: relative;
    top: 85px;
    margin-right: 90px;
  }
}

img {
  box-shadow: 3px 3px 6px #595659;
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 7px;
  margin-left: 10px;
  margin-right: -20px;
  .grid-box img {
    width: 30px;
    box-shadow: none;
  }
}

.footer {
  .icon {
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  h1 {
    font-size: 20px;
  }
}

// media queries for ipad design

@media (min-width: 600px) {
  .banner {
    height: 250px;
    h2 {
      font-size: 20px;
      width: 270px;
    }
    h3 {
      font-size: 13px;
    }
  }

  .container {
    width: 600px;
    .image1 {
      width: 475px;
    }
    .image4, .image6 {
      width: 500px;
    }
    .image7 {
      width: 300px;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }

  .info1 {
  margin-top: 40px;
    .image2 {
      flex: 0 0 200px;
      height: 200px;
    }
    .info1-content {
      flex: 0 0 300px;
      padding-left: 30px;
    }
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 11px;
    }
  }

  .info2 {
    margin-top: 30px;
    .image3 {
      height: 300px;
      margin-left: 110px;
      margin-bottom: 40px;
    }
    ul li {
      font-size: 25px;
    }
    ul li ul li {
      font-size: 10px;
    }
  }

  .icon-grid {
    padding: 10px;
    .grid-box img {
      width: 45px;
    }
  }

  .info3 {
    margin-top: 40px;
    margin-bottom: 40px;
    .image5 {
      flex: 0 0 200px;
      height: 220px;
    }
    .info3-content {
      flex: 0 0 320px;
    }
    h3 {
      font-size: 15px;
      position: relative;
      top: 180px;
    }
  }
}



